.upload-artwork-form {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  border-radius: 8px;
  background-color: white;
  z-index: 10000;
  padding: 16px 30px;

  .user-info {
    margin-bottom: 12px;
    .user-info__name {
      margin-top: 0;
    }
  }

  .form-field {
    &.description {
      display: flex;
      justify-content: space-between;

      .form-field__input::placeholder {
        font-weight: 500;
      }

      .form-field__input {
        border: unset;
        background-color: transparent;
        width: 70%;
        padding: 0 0 28px;
        font-weight: 600;
      }
    }
  }

  .form-field--upload {
    .upload-artwork-btn {
        padding: 10px 24px;
        background-color: var(--green-light);
        color: white;
        font-weight: 600;
        display: block;
        text-align: center;
        border-radius: 16px;
        margin: 12px 0 16px 50%;
        transform: translate(-50%);
        width: 200px;

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }
  }

  .selected-file-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .selected-file-item {
        border: 1px solid var(--gray-border-light);
        padding: 4px;
        margin-bottom: 12px;
        border-radius: 8px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .selected-file-item--left {
            display: flex;
            justify-content: space-between;
        
                .selected-file-item__preview {
                    width: 54px;
                    height: 54px;
                    border-radius: 8px;
                    margin-right: 16px;
                    object-fit: cover;
                }
        
                p {
                    margin: 0;
                }
          
            }
        }
    
        .selected-file-item--right {
            margin-right: 20px;
            .delete-selected-file-ic {
            }
        }
    }

  .upload-artwork__btn-container {
    .upload-artwork__btn-item {
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid var(--gray-border-light);
      background-color: transparent;
      margin-right: 12px;

      i {
        font-size: 1.2rem;
      }
    }
  }
}
