.artwork-container {
    width: 100%;
    overflow: hidden; /* Clear the float */
  }
  
  .artwork-item {
    width: calc(14.2857% - 20px); /* 100% / 7 columns - margin */
    margin: 10px;
    float: left;
  }
  
  .artwork-item {
    img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below inline-block elements */
    border-radius: 8px;
    }
    .artwork-item__details {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
        
      .artwork-item__author,
      .artwork-item__reacts      {
        display: flex;
        align-items: center;
      }

      .artwork-item__author {
        img {
          width: 18px;
          height: 18px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 8px;
        }
      }

      .artwork-item__reacts {
        img {
          width: 15PX;
          height: 15PX;
          object-fit: cover;
          margin-right: 4px;
        }
      }
      

      p {
        display: inline-block;
      }
    }
  }
  