.feedbacks {
  .rating__star {
    color: var(--rating-star-light);
  }

  .rating {
    font-size: 1.4rem;

    .rating__count {
    }

    .rating__score {
      margin-right: 8px;
    }
  }

  .review-category-container {
    margin: 28px 0;

    .review-category-item {
      margin-right: 12px;
    }
  }

  .review-container {
    .review-item {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid var(--gray-border-light);
      padding: 28px 0;
      .review-item--left {
        width: 35%;
      }

      .review-item--right {
        display: flex;
        justify-content: end;

        .review-item__artwork-container {
          display: flex;

          .review-item__artwork-item {
            width: 140px;
            height: 100%;
            object-fit: cover;
            margin-left: 4px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
