.artpieces {
  .collection-container {
    display: flex;
    margin-bottom: 32px;

    .collection-item {
      margin-right: 12px;
      display: flex;
      align-items: center;
      padding: 4px;
      border: 1px solid var(--gray-border-light);
      background-color: white;
      border-radius: 10px;
      min-width: 125px;

      .collection-item__bg {
        width: 36px;
        height: 36px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 8px;
      }

      &:nth-last-of-type() {
        &:hover {
          color: #2365e5;
          background: #e7ebff;
          border: 1px solid #bac9ff;
        }
      }

      i {
        margin-left: 8px;
      }
    }
  }

  .artpiece-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .artpiece-item {
    width: 18.5%;
    margin-right: 1.875%;
    margin-bottom: 16px;
  }

  .artpiece-item:nth-of-type(5n) {
    margin-right: 0;
  }

  .artpiece-item img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 6px;
  }
}
