.authentication {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  min-height: 63vh;
  z-index: 10000;

  .authentication-left {
    width: 47%;
    position: relative;
    color: white;
    padding: 30px 40px 40px;
    text-align: center;

    img {
      position: absolute;
      top: -1px;
      left: -1px;
      z-index: -1;
      border-style: none;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border-radius: 12px 0 0 12px;
      object-fit: cover;
      filter: brightness(0.9);
    }

    h2 {
        font-size: 2.6rem;
        font-weight: 500;
    }

    hr {
        width: 20%;
        height: 4px;
        border-radius: 8px;
        background-color: white;
        margin-left: 50%;
    transform: translateX(-50%);
    }

    p {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-top: 40px;
        opacity: 0.95;
        font-weight: 400;
    }

    span {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
  }

  .authentication-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 53%;
    padding: 30px 9%;

    .form {
      width: 100%;
    }

    .form-extra-text {
      font-size: 1.3rem;
      text-align: center;
      width: 100%;

      .form-extra-text__link {
        color: var(--green-link-color-light);
        
      }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.authentication-btn {
  border-radius: 12px;
  outline: none;
  border: none;
  background: var(--black-text-color-light);
  color: var(--gray-bg-light);
  padding: 8px 20px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    opacity: 0.95;
    transition: 0.5s;
  }
}