:root {
  // Light theme colors
  --black-text-color-light: #2c2c2c;
  --gray-text-color-light: #3C3C3C;
  --white-text-color-light: #FFFFFF;
  --green-link-color-light: #0EB75C;
  --green-light: #31AC9D;
  --price-color-light: #ec4a3f;
  
  --gray-bg-light: #f0f0f0;
  --black-bg-light: #202024;
  --gray-button-light: #3E3E3E;
  --gray-border-light: #d5d5d5;
  --rating-star-light: #FFB70C;

  --field-border-light: #d2d2d2;
  --form-field-bg-light: #F7F7F7;
  --form-submit-btn-light: #252525;

  --badge-bg-light: #ECF1FF;
  --badge-text-light: #006CEA;
  // Dark theme colors

}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: var(--black-text-color-light);
}

body {
  margin: 0;
  scroll-behavior: smooth;
  text-overflow: ellipsis;
  width: 100%;
  overflow-x: hidden;
  font-size: 1.3rem;
  font-weight: 500;
}

#root {
    margin: 90px 4% !important;
}

::selection {
  // color: white;
  // background: #c661ff;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

ol li {
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--black-text-color-light);
}

i {
  font-size: 1.6rem;
  margin-right: 8px;
}
// Headings & Texts
h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
}

// Buttons
button {
  border: none;
  outline: none;
}

.btn {
  padding: 8px 18px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: unset;

  .btn-ic {
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin-right: 8px;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.05s;
  }
}

.add-btn {
  margin-left: 10px;
  width: 10px;

  i {
    margin: 0;
    font-size: 1.2rem;
  }
}

.btn-1 {
  border: 1px solid var(--field-border-light);
}

.btn-2 {
  border: 1px solid black;
  // background-color: white;
}

.btn-3 {
  background-color: var(--black-bg-light);
  color: var(--white-text-color-light);
}

.btn {

  &.lg {
    padding: 12px 28px;
    border-radius: 8px;
  } 

  &.md {
    padding: 10px 18px;
    border-radius: 6px;
  }

  &.sm {
    padding: 8px 12px;
    border-radius: 4px;
  }

  &.xm {
    padding: 6px 10px;
    border-radius: 4px;
  }
}



button:hover {
  opacity: 0.9;
  cursor: pointer;
}

// Commons
.hide {
  display: none;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: var(--field-border-light);
}

.dot-delimiter {
  margin: 0 5px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;    
}

.user-info__avt {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  border: 2px solid white;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .avt {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 8px;
}

.user-info__name .user-info__name__fullname {
  font-size: 1.4rem;
  margin: 0;
}

.user-info__name .user-info__name__username {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-text-color-light);
}

.user-info img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 2px solid white;
}


.user-info .avt-l {
  width: 60px;
  height: 60px;
}

.user-info .avt-m {
  width: 40px;
  height: 40px;
}

.user-info .avt-s {
  width: 32px;
  height: 32px;
}

.user-info .avt-xs {
  width: 26px;
  height: 26px;
}

.user-info .avt-xxs {
  width: 18px;
  height: 18px;
}


.rating-ic {
  width: 12px;
  object-fit: cover;
}

// Form
.form {

}

.form-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.form-field--upload {
  text-align: center;
  padding: 28px;
  margin: 18px 0;
  border: 2.5px dashed var(--green-light);
  border-radius: 8px;

  input {
    display: none;
  }

  i {
    font-size: 3rem;
  }

  p {
    opacity: 0.9;
    margin: 8px 0 0;
  }
}

.form-field__label {
  margin-bottom: 6px;
  display: block;
  width: 100%;
}

.form-field__input {
  border: none;
  outline: none;
  border: 1px solid var(--field-border-light);
  padding: 8px 14px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--form-field-bg-light);
}

input[type="submit"] {
  background-color: var(--form-submit-btn-light);
  color: var(--white-text-color-light);
  margin-top: 8px;
  border: unset;
  padding: 11px 0;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.95;
  transition: 0.2s;
}

.form-title {
  text-align: center;
  margin-bottom: 24px;
}

.form-close-ic {
  position: absolute;
  top: 20px;
  right: 20px;
}

.form-close-ic:hover {
  opacity: 0.9;
  cursor: pointer;
}

.form-field__error {
  color: #dc3d3d;
  margin-top: 4px;
}



// Field slider
.field-slider-container {
  width: 100%;
  position: relative;
  overflow: auto;
  white-space: nowrap; /* Ensure the items stay in a single line */
  // overflow: auto; /* or overflow: hidden; */


  .field-container {
    position: relative;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;

    .field-item {
      // display: inline-block;
      padding: 4px;
      padding-right: 8px;
      border: 1px solid var(--gray-border-light);
      display: flex;
      align-items: center;
      background-color: transparent;
      border-radius: 8px;
      margin-right: 16px;

      &:nth-child(2) {
        margin-left: 116px;
      }

      .field-item__title {
        margin: 0;
        line-height: unset;
        white-space: nowrap;
      }

      .field-item__img {
        line-height: 28px;
        margin: 0;
        margin-right: 12px;
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 6px;
      }
    }
  }
  .field__btn {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid var(--gray-border-light);
    top: 50%;
    transform: translateY(-50%);
    line-height: 3rem;
    text-align: center;
    margin-right: 0;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      background-color: var(--gray-border-light);
    }

    &.prev {
      left: 100px;
    }

    &.next {
      right: 0;
    }
  }

  .fixed-item {
    position: absolute;
    top: 0;
    width: 100px;
    margin-right: 20px;
    left: 0;
  }
}