.selling-artwork-container {
    display: flex;
    flex-wrap: wrap;
    .selling-artwork-item {
        width: 23%;
        margin-right: 2.66%;
        margin-bottom: 28px;

        &:nth-of-type(4n) {
            margin-right: 0;
        }
    }
}
