.sidebar {
  // width: 25%;
  border-radius: 12px;
  padding: 40px 48px;

  background-color: var(--gray-bg-light);
  border: 1px solid #e7e7e7;
  position: relative;

  .edit-profile-ic {
    position: absolute;
    right: 16px;
    top: 16px;
    color: var(--gray-text-color-light);
    font-size: 1.8rem;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .profile-basics {
    text-align: center;

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid white;
    }

    .profile-basics__fullname {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }

    .profile-basics__username {
      margin-top: 8px;
      color: var(--gray-text-color-light);
    }
    .profile-basics__job {
    }

    .profile-basics__loc {
    }
  }

  .profile-buttons {
    display: flex;
    justify-content: center;

    .btn {
      margin: 0 6px;
      min-width: 40%;
      font-weight: 600;
    }
  }

  .profile-stats {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-stats-followers {
      display: flex;
      align-items: center;

      .profile-stats-followers__img-container {
        // position: relative;
        display: flex;

        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
          border: 1px solid white;
          border-radius: 50%;
          // position: absolute;
        }

        img:nth-child(1) {
          z-index: 1;
        }

        img:nth-child(2) {
          transform: translate(-12px);
          z-index: 2;
        }

        img:nth-child(3) {
          transform: translate(-24px);
          z-index: 3;
        }
      }
    }
  }

  .profile-section {
    margin-bottom: 28px;

    h4 {
      margin: 0;
    }

    hr {
      background-color: var(--field-border-light);
      border: none;
      outline: none;
      height: 1px;
      margin: 6px 0 8px;
    }

    &.socials p {
      display: flex;
      align-items: center;

      img {
        border-style: none;
        margin-right: 8px;
        height: 22px;
        object-fit: cover;
      }
    }

    &.achievements {
      li {
        display: flex;
      }
    }

    &.extra {
      display: flex;
      justify-content: center;
      align-items: center;

      hr {
        width: 2px;
        height: 20px;
      }

      p {
        margin: 0 12px;
      }
    }
  }
}
