:root {
  --badge-bg-light: #ecf1ff;
  --badge-text-light: #006cea;
}

.talent-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.talent-item {
  width: 18.5%;
  margin-right: 1.5%;
  border: 1px solid var(--gray-bg-light);
  border-radius: 8px;
  position: relative;
  padding: 92px 18px 12px;
  margin-bottom: 28px;
}

.talent-item:nth-child(5n) {
    margin-right: 0;
}

.talent-item__bg-container {
  position: absolute;

  width: calc(100% - 6px);
  z-index: -1;
  left: 0;
  top: 0;
  margin: 3px;
}

.talent-item__bg-item {
  width: calc(33.3%);
  height: 100px;
  object-fit: cover;
  border: 1px solid white;
}

.talent-item__bg-item:nth-child(1) {
  border-radius: 6px 0 0 6px;
}

.talent-item__bg-item:nth-child(3) {
  border-radius: 0 6px 6px 0;
}

.user-info__name {
  margin-top: 10px;
}

.talent-item__extra {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.talent-item__extra span {
  font-size: 1.3rem;
  margin-right: 4px;
}

.order-commission-btn {
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid var(--field-border-light);
  outline: none;
  border-radius: 16px;
  padding: 8px 12px;
  width: 100%;
  font-weight: 600;
}

.talent-item__badge-container {
  display: flex;
  justify-content: center;
}

.talent-item__badge-item {
  background-color: var(--badge-bg-light);
  color: var(--badge-text-light);
  padding: 8px 28px;
  border-radius: 8px;
  margin-right: 8px;
  font-weight: 600;
  font-size: 1.2rem;
}
