.marketplace {
  .selling-artwork-container {
    .selling-artwork-item {
      width: 18% !important;
      margin-right: 2.5%;
    }

    .selling-artwork-item:nth-of-type(4n) {
      margin-right: 2.5%;
    }

    .selling-artwork-item:nth-of-type(5n) {
      margin-right: 0 !important;
    }
  }
}
