.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-light);
  margin-bottom: 20px;
  // position: fixed;
  // background-color: white;
  // box-shadow: 0 4px 2px -2px rgb(223, 223, 223);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  a {
    color: var(--text-color-light);
  }

  .nav-left {
    display: flex;
    align-items: center;

    .brand {
      display: flex;
      align-items: center;
      margin-right: 40px;
      .brand-logo {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }

      .brand-name {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .search-form.focused {
      .form-field {
        border: 2px solid #0a96e7;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      }
    }

    .search-form {
      min-width: 300px;
      position: relative;

      .form-field {
        border: 1.5px solid var(--field-border-light);
      }

      .form-field__input {
        font-size: 1.5rem;
      }

      .form-field img {
        //    border: 1px solid var(--text-color-light);
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 8px;
      }

      .dropdown-search-container {
        position: absolute;
        background-color: white;
        padding: 8px 16px;
        // border: 1px solid var(--field-border-light);
        width: 100%;
        top: 110%;
        box-shadow: rgba(73, 72, 72, 0.2) 0px 2px 12px 0px;
        border-radius: 8px;
        font-size: 1.3rem;
        color: var(--text-color-light);
        z-index: 1000;

        .dropdown-search-item {
          display: flex;
          align-items: center;
          height: 2.4rem;
          font-weight: 600;

          img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            margin-right: 8px;
            border-radius: 50%;
          }

          .dropdown-search-item__extra {
            font-weight: 600;
            color: gray;
          }
        }

        h3 {
          margin: 8px 0 4px;
        }
        
        hr {
          margin: 8 0;
        }
      }
    }
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-right-container {
      display: flex;
      justify-content: space-between;

      .nav-right-item {
        font-weight: 600;
        position: relative;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }

        a {
          font-size: 1.4rem;
          padding: 16px;
        }
      }
    }

    .hor-hr {
      border: none;
      outline: none;
      transform: rotate(90deg);
      //    border-bottom: 1px solid black;
      height: 1px;
      width: 28px;
      background-color: var(--field-border-light);
    }

    .nav-right-icon-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 6px;

      .nav-right-icon-item {
        border: 1px solid var(--field-border-light);
        border-radius: 8px;
        padding: 6px 8px;
        margin: 6px;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }

        img {
          width: 18px;
          height: 18px;
          object-fit: cover;
          display: block;
        }
      }
      
    }

    .nav-right-menu {
      position: relative;
      .nav-right-menu__avt {
        width: 32px;
        height: 32px;
        margin-left: 16px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid white;
        position: relative;
      }
    }

   
  }
}
